.section {
  font-size: 100%;
  color: black;
  background-color: #ffffff;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 60px;
}

/* disable resizing for text area */
textarea {
  min-height: 50px;
  max-height: 300px;
  resize: none !important;
  overflow-y: scroll;
}
